body {
    margin: 15px;
}

.menu {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.dashboard {
    background-color: crimson;
}

#views {
    background-color: dodgerblue;
}

#shares {
    background-color: cadetblue;
}

#users {
    background-color: chocolate;
}

.icones {
    padding-top: 10px;
    width: 3vw;
    padding-left: 10px;
}

.num {
    color: white;
}

#messages {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.view {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.msg {
    color: white;
    margin: 0 !important;
}

.share {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.user {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

#shre {
    width: 60px;
    position: relative;
    right: 12px;
}

.une {
    height: 20px;
    background-color: #939393;
    width: 98vw;

}



.trois {
    height: 20px;
    overflow: hidden;
    background-color: #939393;
    font-size: 20px;
    color: #FFF;
    text-align: center;

}

.prgrs1 {
    height: 20px;
    width: 25%;
    background-color: #5cd229;
    transform-origin: left;
    animation: scaleX 2s infinite;
    text-align: center;
    animation-delay: 500ms;
    color: #FFF;
}

@keyframes scaleX {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

.prgrs2 {
    height: 20px;
    width: 50%;
    background-color: chocolate;
    transform-origin: left;
    animation: scaleX 2s infinite;
    text-align: center;
    animation-delay: 500ms;
    color: #FFF;
}


.prgrs3 {
    height: 20px;
    width: 75%;
    background-color: crimson;
    transform-origin: left;
    animation: scaleX 2s infinite;
    text-align: center;
    animation-delay: 500ms;
    color: #FFF;
}

#map {
    width: 98vw;
}

#portrait {
    width: 72px;
}

#navdenav {}

.ikon {
    width: 20px;
}

.coulissantmenu {
    background-color: blanchedalmond;
    width: 400px;
    height: 800px;
}

#miky {
    white-space: nowrap;
}

.iconesnav {
    width: 20px;
    display: flex;
    justify-content: flex-start;
}

.navnavnav {
    display: flex;
    padding-top: 3vh;
}

#blok {
    justify-content: space-between;
    display: flex;
}

.menudumenu {
    margin-top: 2vh;
}

.menu {
    .menu:active+.coulissantmenu {
        .menu+.coulissantmenu__base--tranxScale {
            transform: translateX(200%) scale(2);
        }
    }
}

.coulissantmenu {
    .coulissantmenu {
        .coulissantmenu {
            transition: transform 330ms ease-in-out;
        }
    }
}